node_modules/
dist/
build/
.env
*.log

# backend runtime data
backend/storage/uploads/**
!backend/storage/uploads/.gitkeep
!backend/storage/uploads/products/.gitkeep
backend/storage/reports/**
!backend/storage/reports/.gitkeep
backend/tmp/uploads/**
!backend/tmp/uploads/.gitkeep

# angular
frontend/.angular/
.DS_Store
